<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define properties for file paths -->
    <property name="LOG_PATH" value="logs" />
    <property name="ERROR_LOG_PATH" value="${LOG_PATH}/error" />
    <property name="INFO_LOG_PATH" value="${LOG_PATH}/info" />
    <property name="CONSOLE_LOG_PATH" value="${LOG_PATH}/Console" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd-MMM-yyyy HH:mm:ss.SSS}] %level -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error File Appender -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_LOG_PATH}/error.%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{dd-MMM-yyyy HH:mm:ss.SSS}] %level -- %msg%n</pattern>
        </encoder>
        <!-- Filter to capture only ERROR level logs -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- Info File Appender -->
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${INFO_LOG_PATH}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INFO_LOG_PATH}/info.%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{dd-MMM-yyyy HH:mm:ss.SSS}] %level-- %msg%n</pattern>
        </encoder>
        <!-- Filter to capture only INFO, WARN, and DEBUG level logs -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!-- Filter to exclude ERROR level logs -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- Loggers -->
    <logger name="com.no_one.demo" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </root>

</configuration>
